.Container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
  max-width: 800px;
  height: 600px;
  margin: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Container::-webkit-scrollbar {
  display: none;
}

.Item:hover {
  border-color: var(--main-color-hover);
  border-width: 6px;
}

.Item {
  pointer-events: auto;
  margin: 6px;
  width: calc(100% - 12px);
  aspect-ratio: 1.5/1;
  flex: 0 0 auto;
}

.SelectedItem {
  pointer-events: auto;
  margin: 6px;
  width: calc(100% - 12px);
  aspect-ratio: 1.5/1;
  flex: 0 0 auto;
  border-color: var(--main-color);
  border-width: 6px;
}

.ClickIgnore {
  pointer-events: none;
}

@media (min-aspect-ratio: 3/2) {
  .Container {
    width: 80%;
  }
}

@media (min-aspect-ratio: 5/3) {
  .Container {
    width: 70%;
  }
}

@media (min-aspect-ratio: 7/4) {
  .Container {
    width: 60%;
  }
}

@media (min-width: 800px), (min-aspect-ratio: 2/1) {
  .Container {
    width: 100%;
    flex-flow: row wrap;
    max-width: 100%;
    justify-content: flex-start;
  }
  .Item {
    width: calc(50% - 12px);
  }
  .SelectedItem {
    width: calc(50% - 12px);
  }
}

@media (min-width: 1200px) {
  .Item {
    width: calc(33% - 12px);
  }
  .SelectedItem {
    width: calc(33% - 12px);
  }
}
