.Container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
  width: 90%;
  max-width: 800px;
  height: 600px;
  margin: auto;
}

.Item:hover {
  border-color: var(--main-color-hover);
  border-width: 6px;
}

.Item {
  margin: 6px;
  width: calc(100% - 12px);
  aspect-ratio: 1.5/1;
  flex: 0 0 auto;
}
