@tailwind base;
@tailwind components;
@tailwind utilities;

.ir-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.deactivate {
  visibility: hidden;
}

.keep-all {
  word-break: "keep-all";
}

@layer components {
  .centering {
    @apply flex items-center justify-center;
  }

  .question-bundle {
    @apply mx-auto my-4 w-920 rounded-xl bg-mint p-4;
  }

  .quote {
    @apply mx-auto my-4 w-920 rounded-xl border-l-4 border-darkmint bg-mint p-4 text-[1.05rem];
  }
}
