.quote {
  border-left: 0.5rem solid #96ffe8;
}

.Container, .quote {
  border-radius: 10px;
  background-color: #effdfa;
  width: 60rem;
  margin: 1rem auto;
  padding: 1rem;
}

@media (max-width: 400px) {
  .Container {
    width: 95%;
  }
}
