.Container {
  display: flex;
  justify-content: space-evenly;
  /* max-height: 500px; */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Container::-webkit-scrollbar {
  display: none;
}

.Item {
  margin: 6px;
  width: calc(100% - 12px);
}

.Item:nth-child(2) {
  text-align: right;
}

.Img {
  /* background-color: blueviolet; */
  width: 100%;
  max-width: 800px;
  max-height: 400px;
  /* aspect-ratio: 1.5; */
  outline: 1px solid silver;
  border-radius: 6px;
  margin: auto;
}

.SelectedImg {
  /* background-color: blueviolet; */
  width: 100%;
  max-width: 800px;
  max-height: 400px;
  /* aspect-ratio: 1.5; */
  outline: 6px solid var(--main-color);
  border-radius: 6px;
  margin: auto;
}

.ImgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

@media screen and (max-width: 680px) {
  .Container {
    flex-direction: column;
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .Item:nth-child(2) {
    text-align: left;
  }
}
