.Container {
  display: flex;
  justify-content: space-evenly;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Container::-webkit-scrollbar {
  display: none;
}

.Item {
  margin: 6px;
  width: calc(100% - 12px);
}

.Item:nth-child(2) {
  text-align: right;
}

.Img {
  width: 100%;
  max-width: 800px;
  height: min-content;
  border-radius: 6px;
  padding: 6px;
}

.SelectedImg {
  width: 100%;
  max-width: 800px;

  outline: 6px solid var(--main-color);
  border-radius: 6px;
  margin: auto;
}

@media screen and (max-width: 680px) {
  .Container {
    flex-direction: column;
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .Item:nth-child(2) {
    text-align: left;
  }
}
